@model IEnumerable<MVC_Database_First.Models.Currency>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@*@for (int j = 0; j < 10; )
{
    <span>@j</span>
    j++;
}*@

@{int counter = 0;}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Sr No.</th>
        <th>
            Currency Code
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(++counter) @*<span>@counter</span> counter++;*@
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CurrencyCode }) |
                @Html.ActionLink("Details", "Details", new { id = item.CurrencyCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CurrencyCode })
            </td>
        </tr>
    }

</table>
